<html>
    <title>Quote Jar!</title>
    <body>
        <p>Insert image of a quote jar here</p>
        <p id="currentQuote"></p>
        <form method='POST' action='/submit'>
            <input type="text" name="quote">
            <input type="submit" value="Get in the jar!">
            <!-- Add a dropdown for who said it -->
        </form>
    </body>
    <script>
         let request = new XMLHttpRequest();
         request.onreadystatechange = function() {
             if(request.readyState == 4 && request.status == 200) {
                let response = request.responseText;
                document.getElementById("currentQuote").innerText = response;
             }
         }
         request.open("GET", "../getQuote", true);
         request.send(null);
    </script>
</html>